@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&display=swap');

/* font-family: 'Karla', sans-serif; */

*,
*::before,
*::after {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Karla', sans-serif
}


/* variable  */

:root {
    /* Primary */
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    /* neutral */
    --light-grey: hsl(205, 8%, 72%);
    --greyish-blue: hsl(218, 13%, 56%);
}


/* global styles */

body {
    background-color: white;
    display: grid;
    min-height: 100vh;
}


/* community styles */

.join-community,
section {
    max-width: 100%;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.join-community h2 {
    color: var(--cyan);
}

.join-community .offer {
    color: var(--bright-yellow);
    margin-top: 1.8rem;
    margin-bottom: .8rem;
}

.join-community .lorem {
    color: var(--light-grey);
}


/* Monthly sub */

.monthly-subscription {
    background-color: var(--cyan);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    max-width: 100%;
}

.monthly-subscription h2 {
    font-size: 1rem;
}

.monthly-subscription .price-content {
    margin-bottom: 2rem;
}

.monthly-subscription .price {
    font-size: 2.9rem;
    font-weight: bold;
    position: relative;
}

.monthly-subscription .price span {
    font-size: 1rem;
    position: absolute;
    transform: translate(5px, 20px);
    color: rgba(243, 237, 237, 0.644);
}

.monthly-subscription .cta {
    display: inline-block;
    text-align: center;
    background-color: rgb(207, 247, 62);
    padding: 1rem 5.5rem;
    margin: auto;
    color: white;
    font-size: 1.1rem;
    border: 1px solid rgba(216, 252, 163, 0.301);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 1px rgba(41, 41, 43, 0.445);
}

.price-cta {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.whyus {
    background-color: hsl(179, 50%, 50%);
    color: white;
    text-align: left;
    padding-left: 2rem;
    max-width: 100%;
}

.whyus-p {
    padding-top: 1.5rem;
    padding-bottom: .8rem;
    color: rgba(255, 255, 255, 0.623);
}

.whyus-p p {
    padding-bottom: .5rem;
}


/* Footer */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

footer {
    position: relative;
    bottom: 0;
}

@media screen and (min-width:593px) {
    .grid-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}